
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


body{
    display: flex;
    justify-content: center ;
    align-items: center;
    min-height: 100vh;
    background-color:  #171718 ;
}

main a {
    transition: 0.2s ease-in-out;
    text-decoration: none;
    color: #ffffff;
    font-size: 30px;
    font-weight: 500;
}

main a:hover{
    text-transform: scale(1.1);
    color: #000;
    text-decoration: dotted;
}

main {
    display: flex;
    gap: 2rem;
    flex-direction: row;
}

.wrapper{
    width: 400px;
    background: #fff;
    color: #000;
}

.wrapper .h1{
    font-size: 35px;
    text-align: center;
}  

.wrapper .input-box{
    height: 50px;
    width: 100%;
    margin: 30px 0;
}

.input-box input{
    height: 100%;
    width: 100%;
    border: none;
    border-bottom: 1px solid #000;
    font-weight: 500;
    background-color: transparent;
    text-align: center;
}

.input-box input::placeholder{
    color: #000;
    text-align: center;
}

.input-box select {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid #000;
    font-weight: 500;
    background-color: transparent;
    text-align: center;
    appearance: none;
    -webkit-appearance: none; 
    -moz-appearance: none; 
}

.input-box select::placeholder{
    color: #000;
    text-align: center;
}

.input-box input:focus::placeholder{
    color: transparent;
}

.input-box select:hover {
    cursor: pointer;
    background-color: #eeecec;
}

.input-box select option {
    color: #000;
    text-align: center;
    border: none;
}

.wrapper .input-box input[type="submit"]{
    color: #fff;
    margin-top: 1rem;
    font-size: 16px;
    border: none;
    font-weight: 500;
    background-color: rgb(27, 124, 30);
}

.wrapper .input-box input[type="submit"]:hover{
    background-color: rgb(179, 238, 181);
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 0 20px rgba(90, 90, 90, 0.2);
}

table th,
table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #000;
    color: #fff;
}

table th {
    font-weight: bold;
    color: #eeecec;
}

table tr:hover {
    background-color:#505457
    ;
}

#editBody {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    gap: 4rem;
}

h1 {
    text-align: center;
    font-size: 30px;
    color: #fff;
  }
  
  h2 {
    color: #fff;
    margin: 1rem 0;
  }
  
  h3 {
    color: #fff;
    text-align: center;
    margin: 1rem;
  }
  
  p {
    color: #fff;
  }
  
  a {
    color: #fff;
    text-decoration: none;
  }

  .useredit{
    width: 200px;
    color: #000;
    
  }